@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.containertwo > figure {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin: 20px auto;
}
.navbar {
  position: fixed;
  top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  right: 1rem;
  width: 10rem;
  font-family: Montserrat;
  border-radius: 10px;
  z-index: 12;
  background-color: rgb(255, 255, 255);
}
.navbar > li:last-child {
  float: right;
  margin-right: 20px;
}
.navbar > li {
  float: left;
  list-style: none;
  color: #000;
  font-size: 25px;
  line-height: 50px;
  margin-left: 20px;
  font-weight: 600;
  cursor: pointer;
}
.blockRightSkills > ul > li,
.blockRightSkillsBackend > ul > li {
  list-style: none;
  color: white;
  font-size: 25px;
  line-height: 50px;
  margin-left: 20px;
  font-weight: 600;
  cursor: pointer;
}
.blockRightSkills > ul > li:nth-child(1) > span > hr,
.blockRightSkillsBackend > ul > li:nth-child(1) > span > hr {
  width: 60%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
}
.blockRightSkills > ul > li:nth-child(2) > span > hr,
.blockRightSkillsBackend > ul > li:nth-child(2) > span > hr {
  width: 90%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
}

.blockRightSkills > ul > li:nth-child(3) > span > hr,
.blockRightSkillsBackend > ul > li:nth-child(3) > span > hr {
  width: 50%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
}

.blockRightSkills > ul > li:nth-child(4) > span > hr,
.blockRightSkillsBackend > ul > li:nth-child(4) > span > hr {
  width: 80%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
}
.containerProjets {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  background: rgb(103, 168, 165);
  background: linear-gradient(
    94deg,
    rgba(103, 168, 165, 1) 0%,
    rgba(228, 210, 162, 1) 100%
  );
}

.blockRightSkills > ul > li:nth-child(5) > span > hr,
.blockRightSkillsBackend > ul > li:nth-child(5) > span > hr {
  width: 80%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
}
.blockRightSkills > ul > li:nth-child(6) > span > hr {
  width: 80%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
}
.blockRightSkills > ul > li:nth-child(7) > span > hr {
  width: 70%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
}
.blockRightSkills > ul > li:nth-child(8) > span > hr {
  width: 60%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
}

.blockRightSkills > ul > li:nth-child(9) > span > hr {
  width: 80%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
}
.mesProjetsContainer{
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  gap: 20px;
  height: 100%;
}
.mesProjetsContainer::-webkit-scrollbar {
  width: 0;
}
.mesProjets>img{
  width: 100%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  border-radius: 1rem;
}
.mesProjets{
  position: relative;
  cursor: pointer;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  flex-direction: column;
  display: flex;
  margin-top: 4rem;
  width: 30rem;
  background-color: rgb(255, 255, 255);
  height: auto;
  margin-left: 2rem;
  margin-right: 2rem;
}
.mesProjets>p{
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
}
.mesProjets>button{
  transition: all .3s;
 
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
  border: none;
  color: white;
  background-color: #538ca7;
  width: 15rem;
  border-radius: .3rem;
  padding: .5rem;
  cursor: pointer;
}
.mesProjets>button:hover{
  background-color: #ebd4a1;
  transition: all .3s;
}


.mesProjets>h4{
  font-size: 1.35rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
}

.blockRightSkills > ul {
  padding: 10px;
}

.containerCompetence {
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 20px;
  margin: 20px auto;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.containerCompetence > .blockRightSkills {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: block;
  border-radius: 30px;
  width: 100%;
  height: auto;
  margin: 20px auto;
  background: rgb(103, 168, 165);
  background: linear-gradient(
    94deg,
    rgba(103, 168, 165, 1) 0%,
    rgba(228, 210, 162, 1) 100%
  );
  /* background-color: rgb(111, 0, 255); */

  font-family: "Montserrat", sans-serif;
}
.blockRightSkillsBackend {
  display: block;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 30px;
  width: 100%;
  height: auto;
  margin: 20px auto;
  /* background-color: rgb(111, 0, 255); */
  background: rgb(103, 168, 165);
  background: linear-gradient(
    94deg,
    rgba(103, 168, 165, 1) 0%,
    rgba(228, 210, 162, 1) 100%
  );

  font-family: "Montserrat", sans-serif;
}
.blockLeftSkillsBackend {
  display: block;
  grid-column: 1;
  width: 100%;
  height: auto;
  margin: 20px auto;
  font-family: "Montserrat", sans-serif;
}
.containerCompetence > .blockLeftSkills {
  display: block;
  width: 100%;
  height: auto;
  margin: 20px auto;
  font-family: "Montserrat", sans-serif;
}
.containerCompetence > div > .titleTypeSkills {
  /* background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text; */
  color: #538ca7;

  text-transform: uppercase;
  font-size: 80px;
  text-align: center;
  margin: 10px 0;
}
.containerthree > ul > li {
  display: none;
}
.iframe {
  display: block;
  width: 50%;
  height: 50%;
  margin: 10rem auto;
}
.containerthree > ul > li:nth-child(1) {
  position: absolute;
  width: 120px;
  padding: 10;
  border-radius: 100%;
  top: 10%;
  z-index: 12;
  left: 20%;
  height: 120px;
  background-color: red;
}
.containerthree > ul > li:nth-child(2) {
  position: absolute;
  width: 120px;
  padding: 10;
  border-radius: 100%;
  top: 20%;
  z-index: 12;
  left: 10%;
  height: 120px;
  background-color: red;
}
.containerthree > ul > li:nth-child(3) {
  position: absolute;
  width: 120px;
  padding: 10;
  border-radius: 100%;
  top: 0;
  z-index: 12;
  left: 35%;
  height: 120px;
  background-color: red;
}
.containerthree > ul > li:nth-child(4) {
  position: absolute;
  width: 120px;
  padding: 10;
  border-radius: 100%;
  top: 30%;
  z-index: 12;
  left: 60%;
  height: 120px;
  background-color: red;
}
.containerthree > ul > li:nth-child(5) {
  position: absolute;
  width: 120px;
  padding: 10;
  border-radius: 100%;
  top: 40%;
  z-index: 12;
  left: 50%;
  height: 120px;
  background-color: red;
}
.containerthree > ul > li:nth-child(6) {
  position: absolute;
  width: 120px;
  padding: 10;
  border-radius: 100%;
  top: 10%;
  z-index: 12;
  left: 70%;
  height: 120px;
  background-color: red;
}
.horizontal {
  display: none;
}
.blockRight > h4 > span:first-child {
  margin-top: 10px;
  color: #ffffff;

  font-size: 23px;
  font-weight: 500;
}
.blockRight > h4 > span:last-child {
  font-size: 21px;
  font-weight: 500;
}
.blockRight > h4 > span > ul {
  list-style: none;
}
.blockRight > h4 > span > ul > li {
  margin-left: 10px;
  line-height: 29px;
}
.blockRight > h4 > span {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.containerFormation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 22rem;
  margin: 20px auto;
  font-family: "Montserrat", sans-serif;
}
.blockLeft {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
 
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  margin-right: 30px;

  border-radius: 20px;
}
.blockRight {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  width: 70%;
  height: 100%;
  background: rgb(103, 168, 165);
  background: linear-gradient(
    94deg,
    rgba(103, 168, 165, 1) 0%,
    rgba(228, 210, 162, 1) 100%
  );
  border-radius: 20px;
  padding: .5rem;
}
.blockLeft > h4 {
  font-size: 21px;

  display: flex;
  justify-content: left;
  line-height: 40px;
  font-weight: 600;
  text-align: left;
  margin: 20px;
  color: rgb(0, 0, 0);
}
.blockLeft > h4 > span:first-child {
  font-size: 23px;

  font-weight: 600;
}
.blockLeft > h4 > span:last-child {
  font-size: 20px;

  font-weight: 400;
}
.imageHome {
  width: 150px;
  height: 150px;
  margin-right: 90px;
  object-fit: cover;
  border-radius: 200px;
}
.containertwo > figure > figcaption > p {
  padding-left: 32px;
  border-left: 0.1rem solid black;
  font-size: 25px;
  font-weight: 400;
  line-height: 50px;
}
.containertwo > figure > img {
  width: 100;
  height: 100;
  object-fit: cover;
}
.containertwo {

  font-family: "Montserrat", sans-serif;
}
.containerthree {
  height: auto;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.containerthree > ul > li {
  list-style: none;
}
.titleAccueil2{
  font-size: 35px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 500;
  width: 100%;
  padding: 5px;
  margin: 5rem auto 5rem;
}
.titleAccueil {
  font-size: 35px;

  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 500;
  width: 600px;
  padding: 5px;
  margin: 5rem auto 5rem;
}
.container {
  scroll-snap-align: start;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
.contentLeft > ul {
  width: 90%;
  list-style: none;
}
.contentLeft > ul > li:hover {
  background-color: rgb(103, 168, 165);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.contentLeft > ul > li {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 0 auto;
  color: white;
  border-radius: 20px;
  width: 32rem;
  font-weight: 700;
  padding: 18px;
  text-align: center;
  background-color: #ebd4a1;
  margin-top: 22px;
  font-size: 26px;
}
.contentLeft {
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentRight {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.subtitle {
  text-align: center;
  font-weight: 600;
}
.title {
  text-align: center;
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contentLeft > h2 {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 20px;
}
.image {
  width: 90%;
  cursor: pointer;
  border-radius: 10%;
}
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
}
@keyframes theButtonAnimation {
  0% {
    background-size: 24px 24px, 15px 15px, 18px 18px, 22px 22px, 22px 22px,
      17px 17px, 23px 23px, 16px 16px, 15px 15px, 20px 20px, 24px 24px,
      15px 15px, 19px 19px, 20px 20px, 21px 21px, 24px 24px, 15px 15px,
      17px 17px, 16px 16px, 20px 20px;
    background-position: 530px 501px, 528px 518px, 517px 527px, 502px 531px,
      488px 533px, 477px 533px, 461px 524px, 455px 518px, 449px 505px,
      444px 489px, 444px 473px, 455px 465px, 463px 453px, 476px 447px,
      489px 444px, 501px 445px, 518px 455px, 527px 464px, 534px 477px,
      534px 489px;
  }
  2.3% {
    background-size: 6px 6px, 4px 4px, 5px 5px, 6px 6px, 6px 6px, 4px 4px,
      6px 6px, 4px 4px, 4px 4px, 5px 5px, 6px 6px, 4px 4px, 5px 5px, 5px 5px,
      5px 5px, 6px 6px, 4px 4px, 4px 4px, 4px 4px, 5px 5px;
    background-position: 608px 301px, 618px 410px, 626px 460px, 593px 514px,
      557px 543px, 611px 584px, 697px 704px, 522px 612px, 534px 748px,
      449px 759px, 419px 577px, 428px 515px, 400px 508px, 213px 536px,
      452px 452px, 270px 380px, 310px 300px, 397px 288px, 503px 356px,
      541px 397px;
  }
  4.6% {
    background-size: 1px 1px, 1px 1px, 1px 1px, 1px 1px, 1px 1px, 1px 1px,
      1px 1px, 1px 1px, 1px 1px, 1px 1px, 1px 1px, 1px 1px, 1px 1px, 1px 1px,
      1px 1px, 1px 1px, 1px 1px, 1px 1px, 1px 1px, 1px 1px;
    background-position: 653px 177px, 671px 342px, 690px 417px, 646px 500px,
      596px 546px, 690px 612px, 837px 810px, 561px 666px, 583px 893px,
      450px 919px, 401px 638px, 410px 543px, 360px 539px, 52px 587px,
      427px 455px, 128px 338px, 182px 205px, 316px 180px, 482px 280px,
      543px 338px;
  }
  6.9% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 679px 101px, 702px 301px, 728px 390px, 676px 492px,
      618px 547px, 737px 628px, 920px 872px, 584px 699px, 613px 979px,
      450px 1015px, 390px 673px, 398px 559px, 335px 557px, -46px 618px,
      412px 456px, 41px 313px, 105px 147px, 266px 115px, 469px 234px,
      543px 303px;
  }
  9.3% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 694px 55px, 721px 276px, 751px 374px, 695px 486px,
      631px 547px, 765px 637px, 970px 910px, 597px 718px, 631px 1031px,
      450px 1072px, 383px 694px, 392px 568px, 321px 568px, -105px 636px,
      403px 457px, -11px 297px, 58px 112px, 236px 75px, 461px 207px, 542px 281px;
  }
  11.6% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 705px 26px, 734px 260px, 766px 364px, 708px 483px,
      641px 548px, 784px 645px, 1001px 934px, 606px 731px, 641px 1065px,
      448px 1109px, 377px 708px, 385px 575px, 309px 574px, -143px 647px,
      395px 456px, -45px 286px, 29px 89px, 218px 49px, 457px 188px, 543px 266px;
  }
  13.9% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 706px 11px, 736px 251px, 770px 357px, 711px 478px,
      644px 545px, 793px 644px, 1020px 944px, 612px 734px, 650px 1080px,
      452px 1127px, 378px 714px, 387px 579px, 308px 580px, -161px 656px,
      394px 460px, -63px 284px, 12px 80px, 205px 39px, 451px 181px, 539px 261px;
  }
  16.2% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 712px 7px, 741px 252px, 774px 360px, 711px 483px,
      641px 549px, 792px 649px, 1023px 952px, 608px 737px, 647px 1088px,
      447px 1134px, 374px 712px, 385px 574px, 306px 575px, -170px 654px,
      397px 455px, -68px 278px, 8px 72px, 206px 31px, 455px 179px, 544px 262px;
  }
  18.6% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 724px 2px, 753px 253px, 784px 365px, 719px 491px,
      645px 560px, 795px 660px, 1026px 967px, 603px 747px, 641px 1100px,
      437px 1144px, 363px 714px, 375px 571px, 297px 569px, -183px 648px,
      393px 445px, -74px 266px, 6px 58px, 208px 18px, 463px 170px, 554px 256px;
  }
  20.9% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 736px -10px, 767px 247px, 800px 363px, 733px 495px,
      657px 567px, 805px 672px, 1034px 983px, 604px 762px, 639px 1117px,
      429px 1160px, 352px 723px, 361px 576px, 282px 570px, -201px 645px,
      381px 438px, -86px 254px, -2px 42px, 205px 2px, 466px 155px, 562px 243px;
  }
  23.2% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 744px -27px, 779px 234px, 815px 355px, 750px 492px,
      673px 570px, 821px 679px, 1048px 996px, 613px 777px, 643px 1136px,
      427px 1179px, 344px 739px, 350px 588px, 267px 578px, -219px 649px,
      365px 436px, -104px 247px, -16px 30px, 196px -14px, 463px 138px,
      563px 226px;
  }
  25.5% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 746px -46px, 787px 216px, 828px 340px, 766px 482px,
      692px 566px, 840px 682px, 1067px 1004px, 627px 790px, 653px 1153px,
      431px 1198px, 341px 758px, 342px 605px, 254px 592px, -237px 658px,
      347px 440px, -124px 245px, -34px 21px, 181px -28px, 454px 120px,
      559px 208px;
  }
  27.9% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 744px -67px, 791px 196px, 838px 322px, 782px 468px,
      711px 558px, 861px 679px, 1088px 1009px, 645px 801px, 668px 1169px,
      440px 1218px, 344px 778px, 338px 625px, 243px 610px, -253px 673px,
      328px 450px, -145px 248px, -55px 16px, 162px -38px, 440px 105px,
      550px 189px;
  }
  30.2% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 737px -89px, 792px 174px, 846px 301px, 795px 451px,
      729px 546px, 883px 673px, 1110px 1010px, 666px 808px, 685px 1182px,
      452px 1237px, 349px 800px, 337px 647px, 235px 630px, -267px 690px,
      310px 462px, -166px 254px, -77px 15px, 141px -45px, 423px 91px,
      538px 171px;
  }
  32.5% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 729px -110px, 790px 150px, 851px 279px, 808px 431px,
      747px 531px, 904px 665px, 1133px 1009px, 688px 814px, 705px 1194px,
      467px 1254px, 358px 821px, 338px 670px, 230px 653px, -280px 710px,
      293px 478px, -188px 263px, -100px 17px, 118px -50px, 404px 78px,
      522px 153px;
  }
  34.8% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 718px -132px, 786px 127px, 855px 255px, 818px 410px,
      764px 515px, 925px 654px, 1157px 1005px, 711px 818px, 727px 1205px,
      484px 1271px, 368px 843px, 342px 694px, 225px 676px, -291px 731px,
      277px 495px, -209px 275px, -124px 20px, 95px -53px, 383px 67px,
      505px 137px;
  }
  37.2% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 706px -152px, 781px 103px, 857px 231px, 828px 388px,
      781px 497px, 946px 642px, 1180px 1000px, 735px 821px, 749px 1214px,
      502px 1288px, 380px 864px, 347px 717px, 222px 700px, -301px 753px,
      261px 513px, -229px 287px, -148px 25px, 71px -55px, 361px 57px,
      487px 121px;
  }
  39.5% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 693px -173px, 776px 80px, 859px 207px, 838px 366px,
      797px 478px, 967px 629px, 1204px 995px, 760px 823px, 772px 1223px,
      521px 1303px, 392px 885px, 352px 741px, 220px 724px, -310px 775px,
      246px 533px, -250px 301px, -171px 31px, 46px -56px, 339px 47px,
      468px 106px;
  }
  41.8% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 679px -194px, 769px 56px, 860px 182px, 846px 343px,
      812px 459px, 988px 616px, 1228px 988px, 784px 824px, 795px 1231px,
      540px 1319px, 405px 906px, 359px 765px, 219px 749px, -319px 798px,
      231px 552px, -270px 315px, -195px 37px, 21px -56px, 316px 38px, 448px 91px;
  }
  44.1% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 665px -214px, 762px 32px, 860px 157px, 855px 319px,
      828px 440px, 1008px 602px, 1252px 981px, 809px 825px, 819px 1239px,
      560px 1334px, 419px 926px, 365px 789px, 218px 774px, -328px 822px,
      217px 572px, -290px 330px, -219px 44px, -3px -56px, 292px 29px, 429px 76px;
  }
  46.5% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 650px -234px, 755px 8px, 861px 133px, 863px 296px,
      843px 420px, 1029px 587px, 1276px 974px, 834px 825px, 842px 1246px,
      580px 1349px, 433px 947px, 372px 813px, 217px 799px, -336px 845px,
      202px 593px, -310px 345px, -243px 51px, -28px -56px, 269px 20px,
      408px 61px;
  }
  48.8% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 636px -255px, 747px -16px, 861px 108px, 871px 272px,
      858px 400px, 1049px 573px, 1300px 967px, 859px 826px, 866px 1254px,
      600px 1363px, 447px 968px, 380px 836px, 216px 824px, -344px 869px,
      188px 613px, -330px 360px, -267px 59px, -53px -56px, 246px 12px,
      388px 47px;
  }
  51.1% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 621px -275px, 739px -39px, 861px 83px, 879px 249px,
      873px 381px, 1069px 559px, 1323px 959px, 884px 826px, 890px 1261px,
      620px 1378px, 461px 988px, 387px 860px, 215px 849px, -352px 892px,
      174px 634px, -349px 375px, -291px 66px, -78px -55px, 222px 4px, 368px 32px;
  }
  53.4% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 606px -295px, 732px -63px, 861px 58px, 887px 225px,
      888px 361px, 1090px 544px, 1347px 952px, 909px 826px, 914px 1268px,
      640px 1393px, 476px 1009px, 394px 884px, 215px 874px, -360px 916px,
      160px 654px, -369px 390px, -314px 74px, -103px -54px, 199px -5px,
      347px 18px;
  }
  55.8% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 591px -315px, 724px -87px, 860px 33px, 895px 201px,
      903px 341px, 1110px 529px, 1371px 944px, 934px 827px, 938px 1276px,
      661px 1407px, 490px 1029px, 402px 908px, 214px 899px, -368px 940px,
      145px 675px, -389px 406px, -338px 81px, -128px -54px, 175px -13px,
      327px 4px;
  }
  58.1% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 577px -335px, 716px -111px, 860px 8px, 903px 177px,
      918px 321px, 1130px 515px, 1395px 936px, 959px 827px, 962px 1283px,
      681px 1422px, 504px 1049px, 409px 932px, 214px 924px, -376px 964px,
      131px 695px, -409px 421px, -362px 89px, -153px -53px, 151px -21px,
      306px -11px;
  }
  60.4% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 562px -355px, 708px -134px, 860px -17px, 910px 154px,
      933px 301px, 1150px 500px, 1419px 929px, 984px 827px, 986px 1290px,
      701px 1436px, 519px 1070px, 417px 956px, 213px 948px, -384px 987px,
      117px 716px, -428px 436px, -386px 97px, -178px -52px, 128px -29px,
      286px -25px;
  }
  62.7% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 547px -375px, 701px -158px, 860px -42px, 918px 130px,
      948px 280px, 1171px 485px, 1442px 921px, 1009px 827px, 1010px 1297px,
      722px 1451px, 533px 1090px, 425px 979px, 213px 973px, -391px 1011px,
      103px 737px, -448px 452px, -410px 104px, -203px -51px, 104px -37px,
      265px -39px;
  }
  65.1% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 532px -395px, 693px -182px, 860px -67px, 926px 106px,
      963px 260px, 1191px 471px, 1466px 913px, 1034px 827px, 1034px 1304px,
      742px 1466px, 547px 1111px, 432px 1003px, 213px 998px, -399px 1035px,
      89px 757px, -468px 467px, -433px 112px, -228px -50px, 80px -45px,
      245px -53px;
  }
  67.4% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 517px -416px, 685px -205px, 859px -92px, 934px 82px,
      978px 240px, 1211px 456px, 1490px 906px, 1059px 827px, 1058px 1311px,
      762px 1480px, 562px 1131px, 440px 1027px, 212px 1023px, -407px 1059px,
      75px 778px, -488px 482px, -457px 120px, -253px -50px, 57px -54px,
      224px -68px;
  }
  69.7% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 502px -436px, 677px -229px, 859px -117px, 941px 59px,
      993px 220px, 1231px 441px, 1514px 898px, 1084px 827px, 1082px 1319px,
      783px 1495px, 576px 1152px, 447px 1051px, 212px 1048px, -415px 1082px,
      61px 799px, -507px 498px, -481px 128px, -278px -49px, 33px -62px,
      204px -82px;
  }
  72% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 487px -456px, 669px -253px, 859px -142px, 949px 35px,
      1008px 200px, 1252px 427px, 1538px 890px, 1109px 827px, 1106px 1326px,
      803px 1509px, 591px 1172px, 455px 1075px, 211px 1073px, -423px 1106px,
      47px 819px, -527px 513px, -505px 135px, -303px -48px, 10px -70px,
      183px -96px;
  }
  74.4% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 472px -476px, 661px -277px, 859px -167px, 957px 11px,
      1022px 180px, 1272px 412px, 1561px 883px, 1134px 828px, 1130px 1333px,
      823px 1524px, 605px 1192px, 462px 1099px, 211px 1098px, -430px 1130px,
      33px 840px, -547px 528px, -528px 143px, -328px -47px, -14px -78px,
      163px -110px;
  }
  76.7% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 458px -496px, 653px -300px, 859px -192px, 965px -13px,
      1037px 160px, 1292px 397px, 1585px 875px, 1159px 828px, 1154px 1340px,
      844px 1538px, 620px 1213px, 470px 1122px, 211px 1123px, -438px 1154px,
      19px 861px, -566px 544px, -552px 151px, -353px -46px, -38px -86px,
      142px -124px;
  }
  79% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 443px -516px, 646px -324px, 858px -217px, 972px -37px,
      1052px 140px, 1312px 383px, 1609px 867px, 1184px 828px, 1177px 1347px,
      864px 1553px, 634px 1233px, 478px 1146px, 210px 1148px, -446px 1177px,
      5px 881px, -586px 559px, -576px 159px, -378px -46px, -61px -94px,
      121px -139px;
  }
  81.3% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 428px -536px, 638px -348px, 858px -242px, 980px -60px,
      1067px 120px, 1332px 368px, 1633px 860px, 1209px 828px, 1201px 1354px,
      884px 1567px, 648px 1254px, 485px 1170px, 210px 1173px, -454px 1201px,
      -9px 902px, -606px 575px, -600px 166px, -403px -45px, -85px -102px,
      101px -153px;
  }
  83.7% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 413px -556px, 630px -372px, 858px -267px, 988px -84px,
      1082px 100px, 1353px 353px, 1656px 852px, 1234px 828px, 1225px 1361px,
      905px 1582px, 663px 1274px, 493px 1194px, 210px 1198px, -462px 1225px,
      -23px 923px, -625px 590px, -624px 174px, -428px -44px, -109px -110px,
      80px -167px;
  }
  86% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 398px -576px, 622px -395px, 858px -292px, 996px -108px,
      1097px 80px, 1373px 338px, 1680px 844px, 1259px 828px, 1249px 1368px,
      925px 1596px, 677px 1295px, 500px 1218px, 209px 1223px, -469px 1249px,
      -37px 943px, -645px 605px, -647px 182px, -453px -43px, -132px -119px,
      60px -181px;
  }
  88.3% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 383px -596px, 614px -419px, 857px -317px, 1003px -132px,
      1112px 60px, 1393px 324px, 1704px 836px, 1284px 828px, 1273px 1375px,
      945px 1611px, 692px 1315px, 508px 1242px, 209px 1248px, -477px 1272px,
      -51px 964px, -665px 621px, -671px 189px, -478px -42px, -156px -127px,
      39px -196px;
  }
  90.6% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 368px -616px, 606px -443px, 857px -342px, 1011px -155px,
      1127px 40px, 1413px 309px, 1728px 829px, 1309px 828px, 1297px 1383px,
      966px 1626px, 706px 1335px, 516px 1265px, 208px 1273px, -485px 1296px,
      -65px 985px, -685px 636px, -695px 197px, -503px -42px, -180px -135px,
      19px -210px;
  }
  93% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 353px -636px, 598px -467px, 857px -367px, 1019px -179px,
      1142px 20px, 1433px 294px, 1752px 821px, 1334px 828px, 1321px 1390px,
      986px 1640px, 720px 1356px, 523px 1289px, 208px 1298px, -493px 1320px,
      -79px 1005px, -704px 652px, -719px 205px, -528px -41px, -203px -143px,
      -2px -224px;
  }
  95.3% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 338px -656px, 591px -490px, 857px -392px, 1027px -203px,
      1157px 0px, 1454px 280px, 1775px 813px, 1359px 828px, 1345px 1397px,
      1006px 1655px, 735px 1376px, 531px 1313px, 208px 1323px, -501px 1344px,
      -94px 1026px, -724px 667px, -742px 213px, -553px -40px, -227px -151px,
      -22px -238px;
  }
  97.6% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 323px -677px, 583px -514px, 857px -417px, 1034px -227px,
      1172px -20px, 1474px 265px, 1799px 806px, 1384px 829px, 1369px 1404px,
      1027px 1669px, 749px 1397px, 538px 1337px, 207px 1348px, -508px 1367px,
      -108px 1047px, -744px 682px, -766px 220px, -578px -39px, -251px -159px,
      -43px -253px;
  }
  100% {
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-position: 309px -697px, 575px -538px, 856px -442px, 1042px -250px,
      1186px -41px, 1494px 250px, 1823px 798px, 1409px 829px, 1393px 1411px,
      1047px 1684px, 764px 1417px, 546px 1361px, 207px 1373px, -516px 1391px,
      -122px 1068px, -763px 698px, -790px 228px, -603px -38px, -274px -167px,
      -64px -267px;
  }
}

@media screen and (max-width: 1000px) {
  .titleAccueil2{
    margin: 2rem auto 0rem;
    
  }
  .containerFormation> .blockLeft>h4>span {
    
    font-size: 20px;
  }
  .blockRightSkillsBackend {
    width: 100%;
    height: 24rem
    ;
  }
  .mesProjets{
    width: 20rem;
  }
  .containerCompetence > div > .titleTypeSkills {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .containerCompetence {
    display: block;
  }
  .contentRight {
    display: none;
  }
  .contentLeft {
    width: 100%;
  }
  .title {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .contentLeft > h2 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .contentLeft > ul > li {
    width: 90%;
    font-size: 20px;
    padding: 10px;
  }
  .containertwo > figure {
    display: block;
  }

  .containertwo > figure > img {
    width: 70;
    height: 70;
    display: block;
    margin: 0 auto;
    object-fit: cover;
  }
  .containertwo > figure > figcaption > p {
    margin-top: 20px;
    text-align: left;
    font-size: 15px;
    line-height: 1.5;
  }
  .titleAccueil {
    text-align: center;
    font-size: 25px;
    display: block;
    margin: 0 auto;
    width: auto;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .containerFormation {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .blockLeft {
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: .5rem;

    background: #ffffff;
    border-radius: 20px;
  }
  .blockRight {
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 1rem auto;
    background: rgb(103, 168, 165);
    background: linear-gradient(
      94deg,
      rgba(103, 168, 165, 1) 0%,
      rgba(228, 210, 162, 1) 100%
    );
    border-radius: 20px;
    padding: .5rem;

  }
  /* .blockLeft > h4 >span{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
  } */

  .blockRight > h4 > span:last-child {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .horizontal {
    width: 90%;
    display: block;

    margin: 2rem auto 2rem;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
